.table {
    border-collapse: collapse;
}

.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table tr:last-child {
    border-bottom: none;
}

.possibility-table-container {
    max-height: 310px;
    overflow-y: auto;
}

.possibility-table tr:first-child {
    height: 25px;
}

.possibility-table {
    border-collapse: collapse;
}

.possibility-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.possibility-table td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.possibility-table td:first-child {
    text-align: right;
    width: 50px;
}

.possibility-table tr {
    border-bottom: 1px solid #ddd;
}

.possibility-table tr:last-child {
    border-bottom: none;
}
