body {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
    color: white;
}

header {
    background: midnightblue;
    color: white;
    display: block;
    padding: 1.2%;
    margin: 0;
}
header nav {
    color: white;
}
header nav:first-child {
    font-size: 60px;
}
header nav:last-child {
    font-size: 30px;
}

.sim-input[type="number"] {
    font-size: 30px;
    width: 60px;
    background-color: darkslategrey;
    border: 2px solid slateblue;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.sim-input[type="number"]:hover {
  border-color: lightskyblue;
}
.sim-input[type="number"]:active {
  border-color: skyblue;
}

.sim-input-button {
    font-size: 30px;
    background-color: darkslategrey;
    border: 2px solid slateblue;
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.sim-input-button:hover {
    border-color: darkorange;
}
