<!DOCTYPE html>
<html lang="en">
<body>
<div class="header">
    <h1>Sim4SpecTerms</h1>
    <a>Simulator for Spectroscopic Terms</a>
</div>
<div class="topnav">
    <form id="sim-input-form">
        s: <input class="sim-input" type="number" value=0 min=0 max=2 id="sim-input-s">
        p: <input class="sim-input" type="number" value=0 min=0 max=6 id="sim-input-p">
        d: <input class="sim-input" type="number" value=0 min=0 max=10 id="sim-input-d">
        f: <input class="sim-input" type="number" value=0 min=0 max=14 id="sim-input-f">
        <input class="button" type="submit" value="Simulate" id="sim-input-simulate" disabled="disabled">
    </form>
</div>
<div class="left-column">
    <div class="box">
        <table>
            <tr>
                <td>Orbital</td>
                <td>Possibilities</td>
            </tr>
            <tr>
                <td>s</td>
                <td id="combinations-s">1</td>
            </tr>
            <tr>
                <td>p</td>
                <td id="combinations-p">1</td>
            </tr>
            <tr>
                <td>d</td>
                <td id="combinations-d">1</td>
            </tr>
            <tr>
                <td>f</td>
                <td id="combinations-f">1</td>
            </tr>
            <tr>
                <td class="invisible-border">Total</td>
                <td class="invisible-border" id="combinations-total">1</td>
            </tr>
        </table>
    </div>
    <div class="box">
        <table id="group-table">
            <tr>
                <td colspan=5>Groups</td>
            </tr>
            <tr>
                <td>#</td>
                <td>M<sub>&#x2113</sub></td>
                <td>M<sub>&#x1D460</sub></td>
                <td>Count</td>
                <td>Spectroscopic term</td>
            </tr>
        </table>
    </div>
</div>
<div class="right-column">
    <div class="box">
        <table id="rows-table">
            <tr>
                <td colspan=6>
                    <button class="page-button button" id="page-button-prev">Previous page</button>
                </td>
                <td colspan=7 id="page-label">1</td>
                <td colspan=6>
                    <button class="page-button button" id="page-button-next">Next page</button>
                </td>
            </tr>
            <tr>
                <td colspan="20">Combinations</td>
            </tr>
            <tr>
                <td>#</td>
                <td>s</td>
                <td>p<sub>-1</sub></td>
                <td>p<sub>0</sub></td>
                <td>p<sub>1</sub></td>
                <td>d<sub>-2</sub></td>
                <td>d<sub>-1</sub></td>
                <td>d<sub>0</sub></td>
                <td>d<sub>1</sub></td>
                <td>d<sub>2</sub></td>
                <td>f<sub>-3</sub></td>
                <td>f<sub>-2</sub></td>
                <td>f<sub>-1</sub></td>
                <td>f<sub>0</sub></td>
                <td>f<sub>1</sub></td>
                <td>f<sub>2</sub></td>
                <td>f<sub>3</sub></td>
                <td>M<sub>&#x2113</sub></td>
                <td>M<sub>&#x1D460</sub></td>
            </tr>
        </table>
    </div>
</div>
</body>
<head>
    <meta charset="UTF-8">
    <title>Sim4SpecTerms</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="../static/js/requests/simulator.js"></script>
</head>
</html>